body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

#hero {
    height: 80vh;
}

#benefits img {
    width: 100px; /* Increased size for better visibility */
    height: auto;
    display: block;
    margin: 0 auto 20px; /* Center the images and add bottom margin */
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.benefit-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
